#header1-6 P {
  font-size: 25px;
}
#header1-6 H1 {
  font-size: 100px;
}
#header1-6 .btn {
  font-size: 30px;
}
#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
