
html {
  background-color: #2e2e2e; }

body {
  min-height: auto; }

.cid-qwv7uycNEM .container {
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 991px) {
    .cid-qwv7uycNEM .container {
      flex-wrap: wrap; } }
@media (min-width: 0px) {
  .cid-qwv7uycNEM .navbar-dropdown.navbar-dropdown .navbar-logo a img {
    height: 2rem !important; } }
.cid-qwv7uycNEM .navbar-dropdown .navbar-logo, .cid-qwv7uycNEM .navbar-dropdown.navbar-short .navbar-logo {
  margin-right: 0.5rem; }
.cid-qwv7uycNEM .navbar-short {
  background: #232323; }
  .cid-qwv7uycNEM .navbar-short .nav-link,
  .cid-qwv7uycNEM .navbar-short .navbar-caption {
    color: #fff !important; }
  .cid-qwv7uycNEM .navbar-short button.navbar-toggler .hamburger span {
    background-color: #fff; }
.cid-qwv7uycNEM .mbr-section-btn .btn {
  margin-right: 0;
  padding: 0.6rem 1.5rem; }
.cid-qwv7uycNEM .nav-item .mbr-iconfont {
  padding-right: 0.2em;
  top: -0.05rem; }
.cid-qwv7uycNEM .menu-logo .navbar-brand {
  margin-left: 0 !important; }
.cid-qwv7uycNEM .navbar-toggleable-sm .navbar-collapse {
  padding-right: 0; }
@media (max-width: 991px) {
  .cid-qwv7uycNEM .btn {
    display: inline-flex; } }

#short-search {
  background: #fff;
  margin: 77px 0 0 0; }
  #short-search .form-control {
    border: 0;
    border-radius: 100px;
    background-color: #f5f5f5;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    flex: 0 1 350px !important;
    height: 2.45rem;
    min-height: 0;
    padding: 0 1.4rem !important; }
  #short-search .input-group {
    justify-content: flex-start; }
    @media (min-width: 768px) {
      #short-search .input-group {
        justify-content: flex-end; } }
  #short-search .btn {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    cursor: pointer;
    margin: 0;
    padding: 0.5rem !important;
    letter-spacing: 0; }
  #short-search .mbr-iconfont {
    font-size: 1.2rem !important; }
  #short-search .breadcrumb {
    padding-left: 0;
    padding-top: 0.5rem; }

.cid-qwqFxlZl9y {
  padding-bottom: 30px; }
  .cid-qwqFxlZl9y .mbr-form .form-control {
    border: 0;
    background-color: #f5f5f5;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-right: 0;
    padding: 1.07em 1.2em 1.07em 1.8em; }
  .cid-qwqFxlZl9y .mbr-form .input-group {
    flex-direction: row !important;
    flex-wrap: nowrap; }
  .cid-qwqFxlZl9y .mbr-form .input-group-btn {
    margin-left: 0;
    width: auto !important; }
    .cid-qwqFxlZl9y .mbr-form .input-group-btn button[type="submit"] {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
      cursor: pointer;
      padding: 1rem 1rem; }
  .cid-qwqFxlZl9y .mbr-form .mbr-iconfont {
    font-size: 1.6rem !important; }

.category {
  padding-bottom: 4rem; }
  .category-name {
    color: #232323;
    font-size: 1.3rem;
    list-style: none; }
  .category-items {
    list-style: none;
    padding-left: 0;
    margin-top: 0.4rem; }
  .category-item {
    padding-left: 1.1rem; }
    .category-item:before {
      color: #149dcc;
      content: "\e909";
      font-family: 'mobirise-icons-bold';
      display: inline-block;
      margin-left: -1.5em;
      width: 1.3em;
      top: -0.1em;
      position: relative;
      font-size: 0.8rem; }
    .category-item a {
      color: #232323; }
    .category-item a:hover {
      color: #149dcc; }
  .category-more-items {
    font-size: 0.9rem;
    margin-top: 0.5rem; }

.cid-qwuMddG2SB {
  background: #f5f5f5; }

.cid-qwuMHHt2SB {
  background: #fff;
  padding-top: 0;
  padding-bottom: 2.5rem; }
  .cid-qwuMHHt2SB .help-other-links li:before {
    color: #149dcc;
    content: "\e909";
    font-family: 'mobirise-icons-bold';
    display: inline-block;
    margin-left: -1em;
    width: 1.3em;
    font-size: 1rem;
    top: -0.1em;
    position: relative; }
  .cid-qwuMHHt2SB .title h2 {
    font-size: 2rem; }

.cid-qwqE20ziNT {
  padding-bottom: 1rem; }

.cid-qwqE2k6gWO {
  padding-top: 2.125rem; }
  .cid-qwqE2k6gWO .list-unstyled {
    margin-bottom: 0; }
  .cid-qwqE2k6gWO .mbr-text,
  .cid-qwqE2k6gWO blockquote {
    color: #232323; }
  .cid-qwqE2k6gWO blockquote {
    background: #f9f9f9;
    font-size: 1rem;
    font-style: normal;
    margin-bottom: 1rem;
    padding: 1rem 0 1rem 1.2rem; }
    .cid-qwqE2k6gWO blockquote p,
    .cid-qwqE2k6gWO blockquote ul li {
      margin-bottom: 0; }
  .cid-qwqE2k6gWO pre {
    background: #23241f;
    margin-bottom: 1rem;
    padding: 0.2rem 0.6rem;
    line-height: 1.4; }
  .cid-qwqE2k6gWO .help-link {
    font-size: 1.5rem;
    margin-bottom: .7rem;
    padding-left: 1.3rem; }
    .cid-qwqE2k6gWO .help-link:before {
      color: #149dcc;
      content: "\e909";
      font-family: 'mobirise-icons-bold';
      display: inline-block;
      margin-left: -1.3em;
      width: 1.3em;
      font-size: 1rem;
      top: -0.1em;
      position: relative; }
    .cid-qwqE2k6gWO .help-link a {
      color: #232323; }
      .cid-qwqE2k6gWO .help-link a:hover {
        color: #149dcc; }

.help-pagination {
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 0; }
  .help-pagination .page-link {
    border: 0;
    color: #232323;
    background: #f5f5f5;
    border-radius: 50% !important;
    min-width: 2.45rem;
    line-height: 2.45rem;
    padding: 0;
    text-align: center; }
    .help-pagination .page-link:hover {
      background: #149dcc;
      color: #fff; }
  .help-pagination .page-item {
    margin-right: .5rem;
    margin-bottom: .5rem; }
    .help-pagination .page-item.active .page-link {
      background: #232323;
      cursor: default; }

.article ul {
  list-style: none;
  margin: 1rem 0; }
  .article ul li {
    margin-bottom: .5rem; }
    .article ul li::before {
      background: #149dcc;
      border-radius: 50%;
      color: #ffffff;
      content: '✓';
      left: 0;
      display: inline-block;
      height: 25px;
      line-height: 20px;
      margin: 0 10px 5px 0;
      padding-top: 3px;
      position: absolute;
      text-align: center;
      width: 25px; }
.article ol {
  counter-reset: myCounter;
  list-style: none;
  margin: 1rem 0; }
  .article ol li {
    margin-bottom: .5rem; }
    .article ol li::before {
      background: #149dcc;
      border-radius: 50%;
      color: #ffffff;
      content: counter(myCounter);
      counter-increment: myCounter;
      display: inline-block;
      height: 25px;
      left: 0px;
      line-height: 20px;
      margin: 0 10px 5px 0;
      padding-top: 3px;
      position: absolute;
      text-align: center;
      width: 25px;
      font-size: .9em; }
.article code:not(.hljs) {
  background: #f9f9f9;
  border-radius: 0;
  color: #e50039; }
.article iframe {
  margin-bottom: 1rem;
  width: 100%; }
.article .linker {
  color: #232323; }
  .article .linker:hover {
    color: #149dcc; }

.help-block-links ul {
  margin: 0; }
  .help-block-links ul li::before {
    display: none; }
  .help-block-links ul li:last-child {
    margin-bottom: 0; }
.help-block-links a {
  color: #232323; }
  .help-block-links a:hover {
    color: #149dcc; }

.help-figure {
  margin-bottom: 1rem; }
  .help-figure .mbr-figure-caption {
    padding: .5rem 0 1.5rem 0;
    font-size: 0.85em;
    text-align: center;
    color: #a2a2a2; }

.help-inline-link {
  cursor: pointer; }
  .help-inline-link a {
    color: #232323; }
  .help-inline-link:hover, .help-inline-link:hover a {
    color: #149dcc; }

/*# sourceMappingURL=help.css.map */
