@import url(css26.css);





body {
  font-family: Sora;
}
.display-1 {
  font-family: 'Sora', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.8rem;
}
.display-2 {
  font-family: 'Sora', sans-serif;
  font-size: 2.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-4 {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Sora', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.8rem;
}
.display-7 {
  font-family: 'Sora', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.4rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.04rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.66rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.mbr-section-btn .btn:hover {
  padding-right: 2rem;
  padding-left: 2rem;
}
.mbr-section-btn .btn:hover .mbr-iconfont {
  padding-left: 0.5rem;
}
.btn {
  padding: 0.5rem 1.4rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6f5ad3 !important;
}
.bg-success {
  background-color: #faaf3f !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffd96a !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #4e35c5 !important;
  border-color: transparent !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #48c082 !important;
  border-color: transparent !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #19a2e8 !important;
  border-color: transparent !important;
}
.btn-success,
.btn-success:active {
  background-color: #faaf3f !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #f99a0d !important;
  border-color: transparent !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffd96a !important;
  border-color: transparent  !important;
  color: #6a4f00 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #372900 !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #6a4f00 !important;
  background-color: #ffcc37 !important;
  border-color: transparent !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: transparent !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: transparent  !important;
  color: #7a7a7a !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #616161 !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: transparent !important;
}
.btn-white:hover {
  color: #fafafa !important;
}
.btn-white:hover,
.btn-white:hover:active {
  background-color: #333333 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-white:hover:hover,
.btn-white:hover:focus,
.btn-white:hover.focus,
.btn-white:hover.active {
  color: #ffffff !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-white:hover.disabled,
.btn-white:hover:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: transparent !important;
}
.btn-black {
  color: #fafafa !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: transparent !important;
}
.btn-black:hover {
  color: #333333 !important;
}
.btn-black:hover,
.btn-black:hover:active {
  background-color: #fafafa !important;
  border-color: transparent  !important;
  color: #7a7a7a !important;
}
.btn-black:hover:hover,
.btn-black:hover:focus,
.btn-black:hover.focus,
.btn-black:hover.active {
  color: #616161 !important;
  background-color: #6ecd9c !important;
  border-color: transparent  !important;
}
.btn-black:hover.disabled,
.btn-black:hover:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: transparent !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6f5ad3;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #4e35c5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: #6f5ad3 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6ecd9c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #48c082 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #6ecd9c !important;
  border-color: #6ecd9c !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #19a2e8 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #faaf3f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #f99a0d !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #faaf3f !important;
  border-color: #faaf3f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffd96a;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffcc37 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #6a4f00 !important;
  background-color: #ffd96a !important;
  border-color: #ffd96a !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff7733 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #fafafa;
  background-color: transparent;
  border-color: transparent;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: transparent;
  border-color: transparent;
}
.text-primary {
  color: #6f5ad3 !important;
}
.text-secondary {
  color: #6ecd9c !important;
}
.text-success {
  color: #faaf3f !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffd96a !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #333333 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #4e35c5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #48c082 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #f99a0d !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #19a2e8 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffcc37 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff7733 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #4d4d4d !important;
}
.nav-tabs .nav-link.active {
  color: #6f5ad3;
}
.nav-tabs .nav-link:not(.active) {
  color: #333333;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffd96a;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6f5ad3;
  border-color: #6f5ad3;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6f5ad3;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fcfbfe;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6f5ad3 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #6f5ad3;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6f5ad3;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6f5ad3;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #777d74;
  border-bottom-color: #777d74;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6f5ad3;
  border-bottom-color: #6f5ad3;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #6ecd9c !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236f5ad3' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-s6S2mmZd7b {
  z-index: 1000;
  width: 100%;
}
.cid-s6S2mmZd7b nav.navbar {
  position: fixed;
}
.cid-s6S2mmZd7b .nav-link {
  position: relative;
}
.cid-s6S2mmZd7b .nav-link:before {
  content: '';
  bottom: -2px;
  left: 5px;
  width: 0%;
  height: 1px;
  opacity: 0;
  transition: all 0.3s;
  background: currentColor;
  position: absolute;
}
.cid-s6S2mmZd7b .nav-link:hover:before {
  width: 50%;
  opacity: 1;
}
.cid-s6S2mmZd7b .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s6S2mmZd7b .dropdown-menu {
  padding: 0;
}
.cid-s6S2mmZd7b .dropdown-item:hover,
.cid-s6S2mmZd7b .dropdown-item:focus {
  background: #6f5ad3 !important;
  color: white !important;
}
.cid-s6S2mmZd7b .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s6S2mmZd7b .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s6S2mmZd7b .container {
  display: flex;
  margin: auto;
}
.cid-s6S2mmZd7b .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s6S2mmZd7b .navbar-caption {
  padding-right: 4rem;
}
.cid-s6S2mmZd7b .dropdown-menu,
.cid-s6S2mmZd7b .navbar.opened {
  background: #ffffff !important;
}
.cid-s6S2mmZd7b .nav-item:focus,
.cid-s6S2mmZd7b .nav-link:focus {
  outline: none;
}
.cid-s6S2mmZd7b .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s6S2mmZd7b .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s6S2mmZd7b .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s6S2mmZd7b .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s6S2mmZd7b .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s6S2mmZd7b .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s6S2mmZd7b .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-s6S2mmZd7b .navbar.opened {
  transition: all .3s;
}
.cid-s6S2mmZd7b .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s6S2mmZd7b .navbar .navbar-logo img {
  width: auto;
}
.cid-s6S2mmZd7b .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s6S2mmZd7b .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s6S2mmZd7b .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s6S2mmZd7b .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s6S2mmZd7b .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s6S2mmZd7b .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s6S2mmZd7b .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s6S2mmZd7b .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s6S2mmZd7b .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s6S2mmZd7b .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s6S2mmZd7b .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s6S2mmZd7b .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s6S2mmZd7b .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s6S2mmZd7b .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s6S2mmZd7b .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s6S2mmZd7b .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s6S2mmZd7b .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s6S2mmZd7b .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s6S2mmZd7b .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s6S2mmZd7b .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s6S2mmZd7b .navbar.navbar-short {
  min-height: 60px;
}
.cid-s6S2mmZd7b .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s6S2mmZd7b .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s6S2mmZd7b .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s6S2mmZd7b .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s6S2mmZd7b .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s6S2mmZd7b .dropdown-item.active,
.cid-s6S2mmZd7b .dropdown-item:active {
  background-color: transparent;
}
.cid-s6S2mmZd7b .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s6S2mmZd7b .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s6S2mmZd7b .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s6S2mmZd7b .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s6S2mmZd7b .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s6S2mmZd7b .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s6S2mmZd7b ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s6S2mmZd7b .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s6S2mmZd7b button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s6S2mmZd7b button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s6S2mmZd7b button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s6S2mmZd7b button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s6S2mmZd7b button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s6S2mmZd7b button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s6S2mmZd7b nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s6S2mmZd7b nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s6S2mmZd7b nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s6S2mmZd7b nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s6S2mmZd7b .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s6S2mmZd7b a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s6S2mmZd7b .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s6S2mmZd7b .navbar {
    height: 77px;
  }
  .cid-s6S2mmZd7b .navbar.opened {
    height: auto;
  }
  .cid-s6S2mmZd7b .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s6S2lFA6sD {
  padding-top: 18rem;
  padding-bottom: 5rem;
  background-color: #59bb93;
}
.cid-s6S2lFA6sD .mbr-text,
.cid-s6S2lFA6sD .mbr-section-btn {
  color: #ffd96a;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s6S2lFA6sD .mbr-section-title,
  .cid-s6S2lFA6sD .mbr-section-btn,
  .cid-s6S2lFA6sD .mbr-text {
    text-align: center;
  }
}
.cid-s6S2lFA6sD .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s6S2lFA6sD .mbr-section-btn {
  padding-top: 13rem;
}
.cid-s6S3mEvUSa {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s6S3mEvUSa img {
  transition: all 0.3s;
}
.cid-s6S3mEvUSa .img-wrapper {
  overflow: hidden;
}
.cid-s6S3mEvUSa .container {
  max-width: 1400px;
}
@media (min-width: 767px) {
  .cid-s6S3mEvUSa .container {
    padding: 0 2rem;
  }
}
.cid-s6S3mEvUSa .title {
  display: flex;
  padding: 0 1rem;
}
.cid-s6S3mEvUSa .icon {
  font-size: 5rem;
  color: #ffd96a;
  padding-right: 0rem;
  margin-right: -1rem;
  display: block;
}
.cid-s6S3mEvUSa .mbr-iconfont {
  font-size: 1.5rem;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}
.cid-s6S3mEvUSa .card-wrapper {
  background: #fafafa;
  margin-bottom: 2rem;
}
.cid-s6S3mEvUSa .card-wrapper:hover img {
  transform: scale(1.1);
}
.cid-s6S3mEvUSa .card-wrapper:hover .mbr-iconfont {
  transform: translateX(8px);
}
.cid-s6S3mEvUSa .card-box {
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-s6S3mEvUSa .card-box {
    padding: 1rem;
  }
  .cid-s6S3mEvUSa .align-left {
    text-align: center;
  }
  .cid-s6S3mEvUSa .align-right,
  .cid-s6S3mEvUSa .align-left {
    text-align: center;
  }
  .cid-s6S3mEvUSa .title {
    flex-direction: column;
  }
  .cid-s6S3mEvUSa .icon,
  .cid-s6S3mEvUSa .title-box {
    margin: 0rem;
  }
  .cid-s6S3mEvUSa .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-s6S3mEvUSa .mbr-text,
.cid-s6S3mEvUSa .card-box {
  color: #000000;
}
.cid-s6S3mEvUSa .card-subtitle {
  color: #59bb93;
}
.cid-s6S3mEvUSa .main-title {
  color: #59bb93;
}
.cid-s6S2NLklpc {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s6S2NLklpc .card-wrapper {
  display: flex;
  overflow: visible;
  max-width: 750px;
  flex-direction: column;
  padding: 4rem 2rem;
}
.cid-s6S2NLklpc .card-wrapper:hover .mbr-iconfont {
  height: 70px;
  border-radius: 40px;
}
.cid-s6S2NLklpc .title-wrap {
  display: flex;
}
.cid-s6S2NLklpc .link-wrapper {
  display: flex;
  min-height: 100px;
}
.cid-s6S2NLklpc .container-fluid {
  padding: 0rem;
}
.cid-s6S2NLklpc .mbr-iconfont {
  transition: all 0.3s;
  overflow: visible;
  font-size: 1.5rem;
  color: white;
  margin-top: 6px;
  min-width: 50px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50%;
  background: #59bb93;
}
.cid-s6S2NLklpc .row {
  flex-direction: row-reverse;
}
.cid-s6S2NLklpc .icon {
  font-size: 5rem;
  color: #59bb93;
  padding-right: 0rem;
  margin-top: -1rem;
  display: block;
}
.cid-s6S2NLklpc img {
  height: 100%;
  object-fit: cover;
}
.cid-s6S2NLklpc .card-box {
  margin-left: -1rem;
}
.cid-s6S2NLklpc .card-title {
  color: #6f5ad3;
}
.cid-s6S2NLklpc .card-text {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-s6S2NLklpc .align-right,
  .cid-s6S2NLklpc .align-left {
    text-align: center;
  }
  .cid-s6S2NLklpc .card-wrapper {
    padding: 4rem 1rem;
  }
  .cid-s6S2NLklpc .title-wrap {
    flex-direction: column;
  }
  .cid-s6S2NLklpc .icon,
  .cid-s6S2NLklpc .card-box {
    margin: 0rem;
  }
  .cid-s6S2NLklpc .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-s6S2NLklpc .link-text {
  color: #59bb93;
}
.cid-s6S2vd92qI {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s6S2vd92qI .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #ffffff;
  margin: auto;
  padding: 2.6rem;
  width: fit-content;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #6a5fcc;
}
.cid-s6S2vd92qI .container {
  max-width: 1400px;
}
@media (min-width: 767px) {
  .cid-s6S2vd92qI .container {
    padding: 0 2rem;
  }
}
.cid-s6S2vd92qI .title {
  display: flex;
  padding: 0 1rem;
}
.cid-s6S2vd92qI .card-wrapper {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 1400px) {
  .cid-s6S2vd92qI .col-lg-3 {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
.cid-s6S2vd92qI .icon {
  font-size: 5rem;
  color: #59bb93;
  padding-right: 0rem;
  margin-right: -1rem;
  display: block;
}
@media (max-width: 767px) {
  .cid-s6S2vd92qI .align-right,
  .cid-s6S2vd92qI .align-left {
    text-align: center;
  }
  .cid-s6S2vd92qI .title {
    flex-direction: column;
  }
  .cid-s6S2vd92qI .icon,
  .cid-s6S2vd92qI .title-box {
    margin: 0rem;
  }
  .cid-s6S2vd92qI .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-s6S2vd92qI .card-title {
  color: #f16f52;
}
.cid-s6S2vd92qI .main-title {
  color: #f16f52;
}
.cid-s6S2vd92qI .card-title,
.cid-s6S2vd92qI .card-box {
  color: #000000;
}
.cid-s6S3Z9cCsq {
  padding-top: 3rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-s6S3Z9cCsq .card-wrapper {
  display: flex;
  overflow: visible;
}
.cid-s6S3Z9cCsq .icon {
  font-size: 5rem;
  color: #ffd96a;
  padding-right: 0rem;
  margin-top: -1rem;
  display: block;
}
.cid-s6S3Z9cCsq .card-box {
  margin-left: -1rem;
}
.cid-s6S3Z9cCsq .card-title {
  color: #000000;
}
.cid-s6S3Z9cCsq .card-text {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-s6S3Z9cCsq .align-right,
  .cid-s6S3Z9cCsq .align-left {
    text-align: center;
  }
  .cid-s6S3Z9cCsq .card-wrapper {
    flex-direction: column;
  }
  .cid-s6S3Z9cCsq .icon,
  .cid-s6S3Z9cCsq .card-box {
    margin: 0rem;
  }
  .cid-s6S3Z9cCsq .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-s6S2MnLgT2 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #6a5fcc;
}
.cid-s6S2MnLgT2 .card-wrapper {
  display: flex;
  overflow: visible;
  margin-bottom: 4rem;
  padding: 1rem;
}
.cid-s6S2MnLgT2 .container {
  max-width: 1400px;
}
.cid-s6S2MnLgT2 .icon {
  font-size: 5rem;
  color: #faaf3f;
  padding-right: 2rem;
  display: block;
}
.cid-s6S2MnLgT2 .card-title {
  color: #faaf3f;
}
.cid-s6S2MnLgT2 .card-text {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-s6S2MnLgT2 .align-right,
  .cid-s6S2MnLgT2 .align-left {
    text-align: center;
  }
  .cid-s6S2MnLgT2 .card-wrapper {
    flex-direction: column;
  }
  .cid-s6S2MnLgT2 .icon {
    margin: auto;
    padding-right: 0rem;
    margin-bottom: 1rem;
  }
}
.cid-s6S2MnLgT2 .title {
  color: #faaf3f;
  padding-bottom: 5rem;
}
.cid-s6S3UHdeNv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-s6S3UHdeNv .card-wrapper {
  display: flex;
  overflow: visible;
}
.cid-s6S3UHdeNv .container {
  max-width: 1400px;
}
@media (min-width: 767px) {
  .cid-s6S3UHdeNv .container {
    padding: 0 2rem;
  }
}
.cid-s6S3UHdeNv .row {
  justify-content: space-between;
}
.cid-s6S3UHdeNv .icon {
  font-size: 5rem;
  color: #6f5ad3;
  padding-right: 0rem;
  margin-top: 0rem;
  display: block;
}
.cid-s6S3UHdeNv .card {
  transition: all 0.3s;
  height: fit-content;
  border: 2px solid #efefef;
  padding: 5rem 1rem;
  border-radius: 0;
  margin: -1px;
  overflow: hidden;
}
.cid-s6S3UHdeNv .card-box {
  margin-left: -1rem;
}
.cid-s6S3UHdeNv .card-title {
  color: #59bb93;
}
.cid-s6S3UHdeNv .card-text {
  color: #000000;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 2rem;
}
.cid-s6S3UHdeNv .card-text:before {
  position: absolute;
  content: '';
  top: 8px;
  left: .5rem;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
}
@media (max-width: 992px) {
  .cid-s6S3UHdeNv .md-pb {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s6S3UHdeNv .align-right,
  .cid-s6S3UHdeNv .align-left {
    text-align: center;
  }
  .cid-s6S3UHdeNv .card-wrapper {
    flex-direction: column;
  }
  .cid-s6S3UHdeNv .card {
    border: 0px;
  }
  .cid-s6S3UHdeNv .card-text {
    padding-left: 1.5rem;
  }
  .cid-s6S3UHdeNv .card-text:before {
    left: 0rem;
  }
  .cid-s6S3UHdeNv .icon,
  .cid-s6S3UHdeNv .card-box {
    margin: 0rem;
  }
  .cid-s6S3UHdeNv .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-s6S3UHdeNv .card-title,
.cid-s6S3UHdeNv .card-text:before {
  color: #ffd96a;
}
.cid-s6S3UHdeNv .card-subtitle {
  color: #ffd96a;
}
.cid-s6S2JBKnF4 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s6S2JBKnF4 .card-wrapper {
  display: flex;
  overflow: visible;
  max-width: 650px;
  margin: auto;
  padding: 4rem 2rem;
}
.cid-s6S2JBKnF4 .container-fluid {
  padding: 0rem;
}
.cid-s6S2JBKnF4 .icon {
  font-size: 5rem;
  color: #ffd96a;
  padding-right: 0rem;
  margin-top: -1rem;
  display: block;
}
.cid-s6S2JBKnF4 img {
  height: 100%;
  object-fit: cover;
}
.cid-s6S2JBKnF4 .card-box {
  margin-left: -1rem;
}
.cid-s6S2JBKnF4 .card-title {
  color: #6f5ad3;
}
.cid-s6S2JBKnF4 .card-text {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-s6S2JBKnF4 .align-right,
  .cid-s6S2JBKnF4 .align-left {
    text-align: center;
  }
  .cid-s6S2JBKnF4 .card-wrapper {
    flex-direction: column;
    padding: 4rem 1rem;
  }
  .cid-s6S2JBKnF4 .icon,
  .cid-s6S2JBKnF4 .card-box {
    margin: 0rem;
  }
  .cid-s6S2JBKnF4 .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-s6S2Rj2Khi {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-s6S2Rj2Khi .card-wrapper {
  display: flex;
  overflow: visible;
}
.cid-s6S2Rj2Khi .icon {
  font-size: 5rem;
  color: #ffd96a;
  padding-right: 0rem;
  margin-top: -1rem;
  display: block;
}
.cid-s6S2Rj2Khi .container {
  max-width: 1400px;
}
@media (min-width: 767px) {
  .cid-s6S2Rj2Khi .container {
    padding: 0 3rem;
  }
}
.cid-s6S2Rj2Khi .card-box {
  margin-left: -1rem;
}
.cid-s6S2Rj2Khi .card-title {
  color: #59bb93;
}
.cid-s6S2Rj2Khi .card-text {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-s6S2Rj2Khi .align-right,
  .cid-s6S2Rj2Khi .align-left {
    text-align: center;
  }
  .cid-s6S2Rj2Khi .card-wrapper {
    flex-direction: column;
  }
  .cid-s6S2Rj2Khi .icon,
  .cid-s6S2Rj2Khi .card-box {
    margin: 0rem;
  }
  .cid-s6S2Rj2Khi .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-s6S2OtATFB {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background: #ffffff;
}
.cid-s6S2OtATFB .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-s6S2OtATFB .team-card:hover {
  transform: translateY(-10px);
}
.cid-s6S2OtATFB img {
  transform: scale(1.1);
  transition: all 0.3s;
}
.cid-s6S2OtATFB .image-wrap {
  overflow: hidden;
  width: 50%;
}
@media (max-width: 767px) {
  .cid-s6S2OtATFB .image-wrap {
    width: 100%;
  }
}
.cid-s6S2OtATFB .icon-plus {
  font-size: 1rem;
  color: currentColor;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: all 0.3s;
}
.cid-s6S2OtATFB .line {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  width: 25px;
  height: 5px;
  background: #ffd96a;
  z-index: 10;
}
@media (max-width: 767px) {
  .cid-s6S2OtATFB .line {
    display: none;
  }
}
.cid-s6S2OtATFB .container {
  max-width: 1400px;
}
@media (min-width: 767px) {
  .cid-s6S2OtATFB .container {
    padding: 0 3rem;
  }
}
.cid-s6S2OtATFB .content-wrap {
  padding: 2rem;
}
.cid-s6S2OtATFB .icon {
  font-size: 2.5rem;
  color: currentColor;
  padding-bottom: 1rem;
  display: block;
}
.cid-s6S2OtATFB .card1 {
  background: #6f5ad3;
  padding: 0;
}
.cid-s6S2OtATFB .card2 {
  background: #27b7eb;
  padding: 0;
}
.cid-s6S2OtATFB .card3 {
  background: #faaf3f;
  padding: 0;
}
.cid-s6S2OtATFB .card4 {
  background: #59bb93;
  padding: 0;
}
.cid-s6S2OtATFB .card-wrap {
  position: relative;
  display: flex;
}
@media (max-width: 767px) {
  .cid-s6S2OtATFB .card-wrap {
    flex-direction: column;
  }
}
.cid-s6S2OtATFB .card-wrap:hover img {
  transform: scale(1);
}
.cid-s6S2OtATFB .card-wrap:hover .icon-plus {
  transform: rotate(90deg);
  transform-origin: center;
}
.cid-s6S2OtATFB .card-wrap .image-wrap img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-s6S2OtATFB .content-wrap {
    padding: 4rem 1rem;
    text-align: center;
  }
}
.cid-s6S2OtATFB .card-title,
.cid-s6S2OtATFB .icon,
.cid-s6S2OtATFB .icon-plus {
  color: #ffffff;
}
.cid-s6S2OtATFB .mbr-role {
  color: #ffffff;
}
.cid-s6S39TUjUq {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #faaf3f;
}
.cid-s6S39TUjUq .card {
  margin-bottom: 2rem;
  padding-left: 4rem;
}
@media (max-width: 767px) {
  .cid-s6S39TUjUq .card {
    padding-left: 1rem;
  }
}
.cid-s6S39TUjUq .card-title {
  padding-bottom: 5rem;
  color: #6f5ad3;
}
.cid-s6S39TUjUq .text-wrapper {
  width: 100%;
}
.cid-s6S39TUjUq .mbr-iconfont {
  position: absolute;
  top: -1rem;
  left: 1rem;
  font-size: 5rem;
  color: #6f5ad3;
  opacity: 0.2;
}
.cid-s6S39TUjUq .card-text {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-s6S39TUjUq .align-right,
  .cid-s6S39TUjUq .align-left {
    text-align: center;
  }
  .cid-s6S39TUjUq .card-wrapper {
    flex-direction: column;
  }
}
.cid-s6S39TUjUq .mbr-text {
  color: #ffffff;
}
.cid-s6S39TUjUq .name {
  color: #6f5ad3;
}
.cid-s6S39TUjUq .position {
  color: #6f5ad3;
}
.cid-s6S32kODlo {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-s6S32kODlo img {
  transition: all 0.3s;
}
.cid-s6S32kODlo .img-wrapper {
  overflow: hidden;
}
.cid-s6S32kODlo .container {
  max-width: 1400px;
}
@media (min-width: 767px) {
  .cid-s6S32kODlo .container {
    padding: 0 2rem;
  }
}
.cid-s6S32kODlo .form-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-s6S32kODlo .title {
  display: flex;
  padding: 0 1rem;
}
.cid-s6S32kODlo .icon {
  font-size: 5rem;
  color: #ffd96a;
  padding-right: 0rem;
  margin-right: -1rem;
  display: block;
}
@media (min-width: 767px) {
  .cid-s6S32kODlo .icon {
    margin-bottom: 2rem;
  }
}
.cid-s6S32kODlo .mbr-iconfont {
  font-size: 1.5rem;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}
.cid-s6S32kODlo .card-wrapper {
  background: #fafafa;
  height: 100%;
}
.cid-s6S32kODlo .card-wrapper:hover img {
  transform: scale(1.1);
}
.cid-s6S32kODlo .card-wrapper:hover .mbr-iconfont {
  transform: translateX(8px);
}
.cid-s6S32kODlo .card-box {
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-s6S32kODlo .card-box {
    padding: 1rem;
  }
  .cid-s6S32kODlo .align-left {
    text-align: center;
  }
  .cid-s6S32kODlo .align-right,
  .cid-s6S32kODlo .align-left {
    text-align: center;
  }
  .cid-s6S32kODlo .title {
    flex-direction: column;
  }
  .cid-s6S32kODlo .icon,
  .cid-s6S32kODlo .title-box {
    margin: 0rem;
  }
  .cid-s6S32kODlo .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-s6S32kODlo .mbr-text,
.cid-s6S32kODlo .card-box {
  color: #000000;
}
.cid-s6S32kODlo .card-subtitle {
  color: #59bb93;
}
.cid-s6S32kODlo .main-title {
  color: #59bb93;
}
.cid-s6S32kODlo .col-auto {
  margin: auto;
}
.cid-s6S32kODlo .mbr-form .btn {
  border-radius: 30px;
  padding-right: 2rem;
  padding-left: 2rem;
}
.cid-s6S32kODlo .mbr-form .btn:hover {
  padding-right: 3rem;
  padding-left: 3rem;
  background: #6f5ad3 !important;
}
.cid-s6S32kODlo .form-control,
.cid-s6S32kODlo .field-input {
  padding: 0.5rem;
  background-color: #fafafa;
  border-radius: 0;
  border: none!important;
  border-bottom: 2px solid #d9d9d9 !important;
  color: #d9d9d9;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-s6S32kODlo .form-control::-webkit-input-placeholder,
.cid-s6S32kODlo .field-input::-webkit-input-placeholder,
.cid-s6S32kODlo .form-control::-webkit-input-placeholder,
.cid-s6S32kODlo .field-input::-webkit-input-placeholder {
  color: #d9d9d9;
}
.cid-s6S32kODlo .form-control:-moz-placeholder,
.cid-s6S32kODlo .field-input:-moz-placeholder,
.cid-s6S32kODlo .form-control:-moz-placeholder,
.cid-s6S32kODlo .field-input:-moz-placeholder {
  color: #d9d9d9;
}
.cid-s6S32kODlo .form-control:hover,
.cid-s6S32kODlo .field-input:hover,
.cid-s6S32kODlo .form-control:focus,
.cid-s6S32kODlo .field-input:focus {
  background-color: #fafafa;
  border: none!important;
  border-bottom: 2px solid #d9d9d9 !important;
  color: #d9d9d9;
  box-shadow: none;
  outline: none;
}
.cid-s6S32kODlo .form-control:hover::-webkit-input-placeholder,
.cid-s6S32kODlo .field-input:hover::-webkit-input-placeholder,
.cid-s6S32kODlo .form-control:focus::-webkit-input-placeholder,
.cid-s6S32kODlo .field-input:focus::-webkit-input-placeholder,
.cid-s6S32kODlo .form-control:hover::-webkit-input-placeholder,
.cid-s6S32kODlo .field-input:hover::-webkit-input-placeholder,
.cid-s6S32kODlo .form-control:focus::-webkit-input-placeholder,
.cid-s6S32kODlo .field-input:focus::-webkit-input-placeholder {
  color: #d9d9d9;
}
.cid-s6S32kODlo .form-control:hover:-moz-placeholder,
.cid-s6S32kODlo .field-input:hover:-moz-placeholder,
.cid-s6S32kODlo .form-control:focus:-moz-placeholder,
.cid-s6S32kODlo .field-input:focus:-moz-placeholder,
.cid-s6S32kODlo .form-control:hover:-moz-placeholder,
.cid-s6S32kODlo .field-input:hover:-moz-placeholder,
.cid-s6S32kODlo .form-control:focus:-moz-placeholder,
.cid-s6S32kODlo .field-input:focus:-moz-placeholder {
  color: #d9d9d9;
}
.cid-s6S32kODlo .jq-number__spin:hover,
.cid-s6S32kODlo .jq-number__spin:focus {
  background-color: #fafafa;
  border-color: #d9d9d9;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-s6S32kODlo .jq-number__spin {
  background-color: #fafafa;
  border-color: #d9d9d9;
  color: #d9d9d9;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-s6S32kODlo .jq-selectbox li,
.cid-s6S32kODlo .jq-selectbox li {
  background-color: #fafafa;
  color: #000000;
}
.cid-s6S32kODlo .jq-selectbox li:hover,
.cid-s6S32kODlo .jq-selectbox li.selected {
  background-color: #fafafa;
  color: #000000;
}
.cid-s6S32kODlo .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-s6S32kODlo .jq-number__spin.minus:hover:after,
.cid-s6S32kODlo .jq-number__spin.plus:hover:after {
  border-top-color: #fafafa;
  border-bottom-color: #fafafa;
}
.cid-s6S32kODlo .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-s6S32kODlo .jq-number__spin.minus:after,
.cid-s6S32kODlo .jq-number__spin.plus:after {
  border-top-color: #fafafa;
  border-bottom-color: #fafafa;
}
.cid-s6S32kODlo input::-webkit-clear-button {
  display: none;
}
.cid-s6S32kODlo input::-webkit-inner-spin-button {
  display: none;
}
.cid-s6S32kODlo input::-webkit-outer-spin-button {
  display: none;
}
.cid-s6S32kODlo input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-s6S32kODlo .form-title {
  text-align: center;
}
.cid-s6S32kODlo .form-text {
  text-align: center;
}
@media (max-width: 992px) {
  .cid-s6S32kODlo .col-md-6 {
    margin-bottom: 2rem;
  }
}
.cid-s6S388Jq5d {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-s6S388Jq5d .google-map {
  height: 30rem;
  position: relative;
}
.cid-s6S388Jq5d .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-s6S388Jq5d .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-s6S388Jq5d .google-map[data-state] {
  background: #e9e5dc;
}
.cid-s6S388Jq5d .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-s6S30JwY93 {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: #6f5ad3;
}
.cid-s6S30JwY93 .link-text {
  max-width: 350px;
  color: #59bb93;
}
.cid-s6S30JwY93 .container {
  max-width: 1400px;
}
@media (min-width: 767px) {
  .cid-s6S30JwY93 .container {
    padding: 0 2rem;
  }
}
.cid-s6S30JwY93 .link-wrapper {
  min-height: 100px;
  display: flex;
}
.cid-s6S30JwY93 .link-wrapper:hover .mbr-iconfont {
  height: 70px;
  border-radius: 40px;
}
.cid-s6S30JwY93 .link-wrapper .mbr-iconfont {
  transition: all 0.3s;
  overflow: visible;
  font-size: 1.5rem;
  color: white;
  margin-top: 6px;
  min-width: 50px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50%;
  background: #59bb93;
}
.cid-s6S30JwY93 .mbr-form .btn {
  border-radius: 30px;
  padding-right: 2rem;
  padding-left: 2rem;
}
.cid-s6S30JwY93 .mbr-form .btn:hover {
  padding-right: 3rem;
  padding-left: 3rem;
}
.cid-s6S30JwY93 .card-title {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-s6S30JwY93 .align-left {
    text-align: center;
  }
  .cid-s6S30JwY93 .icons-wrapper {
    margin: auto;
    margin-bottom: 3rem;
  }
  .cid-s6S30JwY93 .col-auto {
    margin: auto;
  }
}
.cid-s6S30JwY93 .form-control,
.cid-s6S30JwY93 .field-input {
  padding: 0.5rem;
  background-color: #6f5ad3;
  border-radius: 0;
  border: none!important;
  border-bottom: 2px solid #d9d9d9 !important;
  color: #d9d9d9;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-s6S30JwY93 .form-control::-webkit-input-placeholder,
.cid-s6S30JwY93 .field-input::-webkit-input-placeholder,
.cid-s6S30JwY93 .form-control::-webkit-input-placeholder,
.cid-s6S30JwY93 .field-input::-webkit-input-placeholder {
  color: #d9d9d9;
}
.cid-s6S30JwY93 .form-control:-moz-placeholder,
.cid-s6S30JwY93 .field-input:-moz-placeholder,
.cid-s6S30JwY93 .form-control:-moz-placeholder,
.cid-s6S30JwY93 .field-input:-moz-placeholder {
  color: #d9d9d9;
}
.cid-s6S30JwY93 .form-control:hover,
.cid-s6S30JwY93 .field-input:hover,
.cid-s6S30JwY93 .form-control:focus,
.cid-s6S30JwY93 .field-input:focus {
  background-color: #6f5ad3;
  border: none!important;
  border-bottom: 2px solid #d9d9d9 !important;
  color: #d9d9d9;
  box-shadow: none;
  outline: none;
}
.cid-s6S30JwY93 .form-control:hover::-webkit-input-placeholder,
.cid-s6S30JwY93 .field-input:hover::-webkit-input-placeholder,
.cid-s6S30JwY93 .form-control:focus::-webkit-input-placeholder,
.cid-s6S30JwY93 .field-input:focus::-webkit-input-placeholder,
.cid-s6S30JwY93 .form-control:hover::-webkit-input-placeholder,
.cid-s6S30JwY93 .field-input:hover::-webkit-input-placeholder,
.cid-s6S30JwY93 .form-control:focus::-webkit-input-placeholder,
.cid-s6S30JwY93 .field-input:focus::-webkit-input-placeholder {
  color: #d9d9d9;
}
.cid-s6S30JwY93 .form-control:hover:-moz-placeholder,
.cid-s6S30JwY93 .field-input:hover:-moz-placeholder,
.cid-s6S30JwY93 .form-control:focus:-moz-placeholder,
.cid-s6S30JwY93 .field-input:focus:-moz-placeholder,
.cid-s6S30JwY93 .form-control:hover:-moz-placeholder,
.cid-s6S30JwY93 .field-input:hover:-moz-placeholder,
.cid-s6S30JwY93 .form-control:focus:-moz-placeholder,
.cid-s6S30JwY93 .field-input:focus:-moz-placeholder {
  color: #d9d9d9;
}
.cid-s6S30JwY93 .jq-number__spin:hover,
.cid-s6S30JwY93 .jq-number__spin:focus {
  background-color: #6f5ad3;
  border-color: #d9d9d9;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-s6S30JwY93 .jq-number__spin {
  background-color: #6f5ad3;
  border-color: #d9d9d9;
  color: #d9d9d9;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-s6S30JwY93 .jq-selectbox li,
.cid-s6S30JwY93 .jq-selectbox li {
  background-color: #6f5ad3;
  color: #ffffff;
}
.cid-s6S30JwY93 .jq-selectbox li:hover,
.cid-s6S30JwY93 .jq-selectbox li.selected {
  background-color: #6f5ad3;
  color: #ffffff;
}
.cid-s6S30JwY93 .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-s6S30JwY93 .jq-number__spin.minus:hover:after,
.cid-s6S30JwY93 .jq-number__spin.plus:hover:after {
  border-top-color: #6f5ad3;
  border-bottom-color: #6f5ad3;
}
.cid-s6S30JwY93 .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-s6S30JwY93 .jq-number__spin.minus:after,
.cid-s6S30JwY93 .jq-number__spin.plus:after {
  border-top-color: #6f5ad3;
  border-bottom-color: #6f5ad3;
}
.cid-s6S30JwY93 input::-webkit-clear-button {
  display: none;
}
.cid-s6S30JwY93 input::-webkit-inner-spin-button {
  display: none;
}
.cid-s6S30JwY93 input::-webkit-outer-spin-button {
  display: none;
}
.cid-s6S30JwY93 input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-s6S30JwY93 .card-text {
  color: #ffffff;
}
