@import url(css13.css);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sfWnqHj735 .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-sfWnqHj735 .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-sfWnqHj735 a {
  font-style: normal;
}
.cid-sfWnqHj735 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-sfWnqHj735 .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-sfWnqHj735 .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-sfWnqHj735 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-sfWnqHj735 .menu-logo {
  margin-right: auto;
}
.cid-sfWnqHj735 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-sfWnqHj735 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-sfWnqHj735 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-sfWnqHj735 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-sfWnqHj735 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-sfWnqHj735 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-sfWnqHj735 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-sfWnqHj735 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-sfWnqHj735 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-sfWnqHj735 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-sfWnqHj735 .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-sfWnqHj735 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-sfWnqHj735 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sfWnqHj735 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-sfWnqHj735 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sfWnqHj735 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-sfWnqHj735 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-sfWnqHj735 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-sfWnqHj735 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-sfWnqHj735 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-sfWnqHj735 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-sfWnqHj735 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-sfWnqHj735 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-sfWnqHj735 button.navbar-toggler:focus {
  outline: none;
}
.cid-sfWnqHj735 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sfWnqHj735 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sfWnqHj735 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sfWnqHj735 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sfWnqHj735 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sfWnqHj735 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sfWnqHj735 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sfWnqHj735 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sfWnqHj735 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sfWnqHj735 .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-sfWnqHj735 .collapsed .btn {
  display: flex;
}
.cid-sfWnqHj735 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-sfWnqHj735 .collapsed .navbar-collapse.collapsing,
.cid-sfWnqHj735 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-sfWnqHj735 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-sfWnqHj735 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-sfWnqHj735 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-sfWnqHj735 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-sfWnqHj735 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-sfWnqHj735 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-sfWnqHj735 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-sfWnqHj735 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-sfWnqHj735 .collapsed button.navbar-toggler {
  display: block;
}
.cid-sfWnqHj735 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-sfWnqHj735 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sfWnqHj735 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-sfWnqHj735 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-sfWnqHj735 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-sfWnqHj735 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-sfWnqHj735 .navbar-expand {
    flex-direction: column;
  }
  .cid-sfWnqHj735 img {
    height: 3.8rem !important;
  }
  .cid-sfWnqHj735 .btn {
    display: flex;
  }
  .cid-sfWnqHj735 button.navbar-toggler {
    display: block;
  }
  .cid-sfWnqHj735 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-sfWnqHj735 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sfWnqHj735 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-sfWnqHj735 .navbar-collapse.collapsing,
  .cid-sfWnqHj735 .navbar-collapse.show {
    display: block !important;
  }
  .cid-sfWnqHj735 .navbar-collapse.collapsing .navbar-nav,
  .cid-sfWnqHj735 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-sfWnqHj735 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-sfWnqHj735 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-sfWnqHj735 .navbar-collapse.collapsing .navbar-buttons,
  .cid-sfWnqHj735 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-sfWnqHj735 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-sfWnqHj735 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-sfWnqHj735 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-sfWnqHj735 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-sfWnqHj735 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-sfWnqHj735 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-sfWnqHj735 .menu-logo {
    flex-shrink: 0;
  }
}
.cid-sfWnr52RhD {
  padding-top: 135px;
  padding-bottom: 90px;
  background-image: url("../image/mbr-10.jpg");
}
.cid-sgd4GyxIOX {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-sgd4GyxIOX img,
.cid-sgd4GyxIOX .item-img {
  width: 100%;
}
.cid-sgd4GyxIOX .item:focus,
.cid-sgd4GyxIOX span:focus {
  outline: none;
}
.cid-sgd4GyxIOX .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sgd4GyxIOX .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #232323;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sgd4GyxIOX .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sgd4GyxIOX .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sgd4GyxIOX .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sgd4GyxIOX .mbr-section-title {
  color: #ffffff;
}
.cid-sgd4GyxIOX .mbr-text,
.cid-sgd4GyxIOX .mbr-section-btn {
  text-align: left;
}
.cid-sgd4GyxIOX .item-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgd4GyxIOX .item-subtitle {
  text-align: center;
}
.cid-sfWns4C43q {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sfWns4C43q .mbr-section-subtitle {
  color: #767676;
}
.cid-sfWns4C43q H2 {
  color: #ffffff;
}
.cid-sfWnsxy6MH {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnsxy6MH h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnsxy6MH p {
  color: #767676;
  text-align: left;
}
.cid-sfWnsxy6MH .card-box {
  padding-top: 2rem;
}
.cid-sfWnsxy6MH .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWntdSCZJ {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWntdSCZJ h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWntdSCZJ p {
  color: #767676;
  text-align: left;
}
.cid-sfWntdSCZJ .card-box {
  padding-top: 2rem;
}
.cid-sfWntdSCZJ .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWntu2okQ {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWntu2okQ h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWntu2okQ p {
  color: #767676;
  text-align: left;
}
.cid-sfWntu2okQ .card-box {
  padding-top: 2rem;
}
.cid-sfWntu2okQ .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWntM3CWH {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWntM3CWH h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWntM3CWH p {
  color: #767676;
  text-align: left;
}
.cid-sfWntM3CWH .card-box {
  padding-top: 2rem;
}
.cid-sfWntM3CWH .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnugE0RP {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnugE0RP h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnugE0RP p {
  color: #767676;
  text-align: left;
}
.cid-sfWnugE0RP .card-box {
  padding-top: 2rem;
}
.cid-sfWnugE0RP .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnuJ3b8w {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnuJ3b8w h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnuJ3b8w p {
  color: #767676;
  text-align: left;
}
.cid-sfWnuJ3b8w .card-box {
  padding-top: 2rem;
}
.cid-sfWnuJ3b8w .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnv2m5oF {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnv2m5oF h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnv2m5oF p {
  color: #767676;
  text-align: left;
}
.cid-sfWnv2m5oF .card-box {
  padding-top: 2rem;
}
.cid-sfWnv2m5oF .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnw3XnwF {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sfWnw3XnwF .mbr-section-subtitle {
  color: #767676;
}
.cid-sfWnw3XnwF H2 {
  color: #ffffff;
}
.cid-sfWnwnFb8e {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnwnFb8e h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnwnFb8e p {
  color: #767676;
  text-align: left;
}
.cid-sfWnwnFb8e .card-box {
  padding-top: 2rem;
}
.cid-sfWnwnFb8e .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnwKAUFA {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnwKAUFA h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnwKAUFA p {
  color: #767676;
  text-align: left;
}
.cid-sfWnwKAUFA .card-box {
  padding-top: 2rem;
}
.cid-sfWnwKAUFA .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnx2oHLr {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnx2oHLr h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnx2oHLr p {
  color: #767676;
  text-align: left;
}
.cid-sfWnx2oHLr .card-box {
  padding-top: 2rem;
}
.cid-sfWnx2oHLr .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnxlxEyK {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnxlxEyK h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnxlxEyK p {
  color: #767676;
  text-align: left;
}
.cid-sfWnxlxEyK .card-box {
  padding-top: 2rem;
}
.cid-sfWnxlxEyK .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnxyLFIm {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnxyLFIm h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnxyLFIm p {
  color: #767676;
  text-align: left;
}
.cid-sfWnxyLFIm .card-box {
  padding-top: 2rem;
}
.cid-sfWnxyLFIm .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnxQQxYc {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnxQQxYc h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnxQQxYc p {
  color: #767676;
  text-align: left;
}
.cid-sfWnxQQxYc .card-box {
  padding-top: 2rem;
}
.cid-sfWnxQQxYc .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWny5ADTt {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWny5ADTt h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWny5ADTt p {
  color: #767676;
  text-align: left;
}
.cid-sfWny5ADTt .card-box {
  padding-top: 2rem;
}
.cid-sfWny5ADTt .card-title {
  color: #ffffff;
  text-align: center;
}
.cid-sfWnAdfgjD {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sfWnAdfgjD h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sfWnAdfgjD p {
  color: #767676;
  text-align: left;
}
.cid-sfWnAdfgjD .card-box {
  padding-top: 2rem;
}
.cid-sfWnAdfgjD .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sfWnAsYqHO {
  background: #ffffff;
}
.cid-sfWnAsYqHO .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sfWnAsYqHO .mbr-figure {
  margin: 0 auto;
}
.cid-sfWnAsYqHO figcaption {
  position: relative;
}
.cid-sfWnAsYqHO figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sfWnAsYqHO .image-block {
    width: 100% !important;
  }
}
.cid-sfWnBMxgtI {
  padding-top: 75px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sfWnBMxgtI .mbr-section-subtitle {
  color: #353535;
  text-align: left;
}
.cid-sfWnBMxgtI H2 {
  text-align: left;
  color: #353535;
}
.cid-sfWnCkom5s {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sfWnCkom5s .mbr-text,
.cid-sfWnCkom5s blockquote {
  color: #767676;
}
.cid-sfWnCkom5s .mbr-text {
  color: #353535;
}
.cid-sfWnCUc0xF {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sfWnCUc0xF .mbr-section-subtitle {
  color: #353535;
  text-align: left;
}
.cid-sfWnDfjaTb {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sfWnDfjaTb .counter-container {
  color: #767676;
}
.cid-sfWnDfjaTb .counter-container ul {
  margin-bottom: 0;
}
.cid-sfWnDfjaTb .counter-container ul li {
  margin-bottom: 1rem;
}
.cid-sfWnDfjaTb .mbr-text {
  color: #353535;
}
.cid-sfWnDLYM5N {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sfWnDLYM5N .mbr-section-subtitle {
  color: #353535;
  text-align: left;
}
.cid-sfWnE2ojuI {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sfWnE2ojuI .counter-container {
  color: #767676;
}
.cid-sfWnE2ojuI .counter-container ul {
  margin-bottom: 0;
}
.cid-sfWnE2ojuI .counter-container ul li {
  margin-bottom: 1rem;
}
.cid-sfWnE2ojuI .mbr-text {
  color: #353535;
}
.cid-sfWnEqZJqN {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sfWnEqZJqN .mbr-section-subtitle {
  color: #353535;
  text-align: left;
}
.cid-sfWnEJzotV {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sfWnEJzotV .counter-container {
  color: #767676;
}
.cid-sfWnEJzotV .counter-container ul {
  margin-bottom: 0;
}
.cid-sfWnEJzotV .counter-container ul li {
  margin-bottom: 1rem;
}
.cid-sfWnEJzotV .mbr-text {
  color: #353535;
}
.cid-sfWnFihWBe {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sfWnFihWBe .mbr-text,
.cid-sfWnFihWBe blockquote {
  color: #767676;
}
.cid-sfWnFihWBe .mbr-text {
  color: #353535;
}
.cid-sfWnFAxVda {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sfWnGk1cQb {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sfWnGk1cQb .mbr-section-subtitle {
  color: #767676;
}
.cid-sfWnGk1cQb H2 {
  color: #232323;
}
.cid-sfWnGk1cQb B {
  color: #232323;
}
.cid-sfWnGTzTTV {
  padding-top: 45px;
  padding-bottom: 60px;
  background: #ffffff;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-sfWnGTzTTV .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-sfWnGTzTTV .video-block {
    width: 100% !important;
  }
}
.cid-sfWnNXmx4N {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-sfWnNXmx4N .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-sfWnOICeMp {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-sfWnOICeMp .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-sfWnOICeMp .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-sfWnOICeMp .mbr-text {
  color: #232323;
}
.cid-sfWnPWkYAU {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-sfWnPWkYAU .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-sfWnPWkYAU .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-sfWnPWkYAU .mbr-text {
  color: #232323;
}
.cid-sfWnHQuhDx {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-sfWnHQuhDx .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-sfWnHQuhDx .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-sfWnHQuhDx .mbr-text {
  color: #232323;
}
.cid-sfWnIcyuZP {
  padding-top: 30px;
  padding-bottom: 75px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-sfWnIcyuZP .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-sfWnIcyuZP .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-sfWnIcyuZP .mbr-text {
  color: #232323;
}
.cid-sfWnIKC6C2 {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #d4defa, #bed3f9);
}
.cid-sfWnIKC6C2 .mbr-text,
.cid-sfWnIKC6C2 .mbr-section-btn {
  text-align: center;
  color: #232323;
}
.cid-sfWnIKC6C2 H1 {
  color: #232323;
}
.cid-sfWnKzp2Qa {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sfWnKzp2Qa .mbr-section-subtitle {
  color: #767676;
}
.cid-sfWnKzp2Qa H2 {
  color: #ffffff;
}
.cid-sfWnLe7FLQ {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #232323;
  background: linear-gradient(0deg, #232323, #232323);
}
.cid-sfWnLe7FLQ .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-sfWnLe7FLQ .video-block {
    width: 100% !important;
  }
}
.cid-sfWnLWl5sR {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
