@import url(css54.css);
@import url(css55.css);
@import url(css56.css);














#header1-0 H1 {
	font-size: 48px !important;
	font-family: 'Open Sans Condensed', sans-serif !important;
}
#header1-0 P {
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
	font-size: 30px !important;
}
#header1-0 .btn {
	font-family: 'Open Sans Condensed', sans-serif !important;
}
#msg-box5-1 H2 {
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
	font-size: 32px !important;
}
#msg-box5-1 P {
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-size: 20px !important;
}
#social-buttons1-2 .mbr-header__text {
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
	font-size: 32px !important;
}
#content1-3 H1 {
	text-align: center !important;
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
}
#content1-3 H2 {
	font-family: 'Roboto', sans-serif !important;
	font-size: 23px !important;
	text-align: left !important;
}
#msg-box3-15 H2 {
	color: #ffffff !important;
	font-size: 36px !important;
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
}
#msg-box3-15 P {
	color: #ffffff !important;
	text-align: center !important;
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-size: 22px !important;
}
#msg-box4-21 P {
	color: #ffffff !important;
	text-align: right !important;
}
#msg-box3-17 H2 {
	color: #ffffff !important;
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
	font-size: 30px !important;
}
#msg-box3-17 P {
	color: #ffffff !important;
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-size: 23px !important;
	text-align: left !important;
}
#msg-box3-19 H2 {
	font-family: 'Roboto', sans-serif !important;
	font-size: 25px !important;
}
#msg-box3-19 P {
	color: #252525 !important;
}
#footer1-18 P {
	font-family: 'Roboto', sans-serif !important;
	color: #ffffff !important;
}
