@import url(css86.css);
@import url(css87.css);






















































#header1-46 H1 {
	color: #ffffff !important;
}
#header1-46 P {
	text-align: left !important;
	font-size: 21px !important;
	font-family: 'Merriweather', serif !important;
}
#header1-46 SPAN {
	text-align: left !important;
	font-family: 'Bitter', serif !important;
}
#header1-46 .btn {
	font-family: 'Bitter', serif;
}
#msg-box3-81 P {
	color: #ffffff !important;
	font-family: 'Merriweather', serif !important;
}
#msg-box3-81 H2 {
	color: #ffffff !important;
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#msg-box3-81 .btn {
	font-family: 'Bitter', serif;
}
#social-buttons1-49 .mbr-header__text {
	font-family: 'Bitter', serif;
}
#header3-84 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 24px !important;
}
#content1-85 P {
	font-family: 'Merriweather', serif !important;
}
#header3-81 H3 {
	font-size: 24px !important;
	font-family: 'Bitter', serif !important;
}
#content1-82 P {
	font-family: 'Merriweather', serif !important;
}
#header3-78 H3 {
	font-size: 24px !important;
	font-family: 'Bitter', serif !important;
}
#content1-79 P {
	font-family: 'Merriweather', serif !important;
}
#msg-box4-83 .btn {
	font-family: 'Bitter', serif;
	font-size: 17px;
}
#msg-box4-83 H2 {
	font-size: 36px !important;
	font-family: 'Bitter', serif !important;
}
#msg-box4-83 P {
	font-family: 'Merriweather', serif !important;
}
#msg-box4-84 P {
	font-family: 'Merriweather', serif !important;
}
#msg-box4-84 H2 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#msg-box4-84 .btn {
	font-size: 17px;
}
#msg-box4-81 P {
	font-family: 'Merriweather', serif !important;
}
#msg-box4-81 H2 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#msg-box4-81 .btn {
	font-size: 17px;
}
#header3-66 H3 {
	font-size: 36px !important;
	font-family: 'Bitter', serif !important;
}
#content1-67 P {
	font-family: 'Merriweather', serif !important;
}
#header3-63 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#content1-64 P {
	font-family: 'Merriweather', serif !important;
}
#header3-60 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#content1-61 P {
	font-family: 'Merriweather', serif !important;
}
#header3-57 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#content1-58 P {
	font-family: 'Merriweather', serif !important;
}
#header3-53 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 24px !important;
}
#content1-54 P {
	font-family: 'Merriweather', serif !important;
}
#footer1-13 P {
	font-family: 'Bitter', serif !important;
}
#header3-82 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#content1-26 P {
	font-family: 'Merriweather', serif !important;
}
#header3-28 H3 {
	font-size: 36px !important;
	font-family: 'Bitter', serif !important;
}
#content1-29 P {
	font-family: 'Merriweather', serif !important;
}
#header3-31 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#content1-32 P {
	font-family: 'Merriweather', serif !important;
}
#header3-34 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 24px !important;
}
#content1-35 P {
	font-family: 'Merriweather', serif !important;
}
#header3-37 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#content1-38 P {
	font-family: 'Merriweather', serif !important;
}
#header3-40 H3 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#content1-41 P {
	font-family: 'Merriweather', serif !important;
}
#header3-43 H3 {
	font-size: 36px !important;
	font-family: 'Merriweather', serif !important;
}
#content1-44 P {
	font-family: 'Merriweather', serif !important;
}
#header3-47 H3 {
	font-size: 36px !important;
	font-family: 'Bitter', serif !important;
}
#content1-48 UL {
	font-family: 'Merriweather', serif !important;
}
#content1-48 P {
	font-family: 'Merriweather', serif !important;
}
#msg-box3-82 H2 {
	font-family: 'Bitter', serif !important;
	font-size: 36px !important;
}
#msg-box3-82 P {
	font-family: 'Merriweather', serif !important;
}
#msg-box3-82 .btn {
	font-family: 'Bitter', serif;
}
#testimonials1-83 .mbr-section__header {
	font-family: 'Bitter', serif;
}
#testimonials1-83 P {
	font-family: 'Merriweather', serif !important;
}
#testimonials1-83 .mbr-reviews__author-name {
	font-family: 'Merriweather', serif;
}
#menu-16 .mbr-brand__name {
	font-size: 16px;
}
#menu-16.mbr-navbar--stuck .mbr-navbar__section {
	background: #2c2c2c;
}
#menu-16 .mbr-navbar__section {
}
