@import url(css57.css);



#header1-0 P {
	color: #fac51c !important;
}
#header1-0 H1 {
	font-family: 'Raleway', sans-serif !important;
}
#header1-0 B {
	font-family: 'Raleway', sans-serif !important;
}
#header1-0 .btn {
	font-family: 'Raleway', sans-serif !important;
}
#msg-box5-1 H2 {
	color: #fac51c !important;
}
#social-buttons1-2 .mbr-header__text {
	color: #ffffff !important;
}
#msg-box4-10 H2 {
	color: #252525 !important;
}
#msg-box4-10 P {
	color: #252525 !important;
}
#content1-3 H1 {
	text-align: center !important;
}
#content1-3 P {
	text-align: left !important;
}
#msg-box3-29 H2 {
	color: #ffffff !important;
	font-size: 32px !important;
}
#msg-box3-29 P {
	color: #ffffff !important;
}
#content1-18 H1 {
	text-align: center !important;
}
#msg-box3-28 H2 {
	color: #ffffff !important;
}
#msg-box3-28 P {
	color: #ffffff !important;
	font-size: 17px !important;
}
#msg-box3-7 P {
	text-align: center !important;
}
