@import url(css13.css);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sgAnLQbuXc .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
.cid-sgAnLQbuXc .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-sgAnLQbuXc a {
  font-style: normal;
}
.cid-sgAnLQbuXc .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-sgAnLQbuXc .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-sgAnLQbuXc .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-sgAnLQbuXc .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-sgAnLQbuXc .menu-logo {
  margin-right: auto;
}
.cid-sgAnLQbuXc .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-sgAnLQbuXc .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-sgAnLQbuXc .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-sgAnLQbuXc .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-sgAnLQbuXc .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-sgAnLQbuXc .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-sgAnLQbuXc .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-sgAnLQbuXc .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-sgAnLQbuXc .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-sgAnLQbuXc .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-sgAnLQbuXc .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-sgAnLQbuXc .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-sgAnLQbuXc .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sgAnLQbuXc .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-sgAnLQbuXc .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sgAnLQbuXc .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-sgAnLQbuXc .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-sgAnLQbuXc .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-sgAnLQbuXc .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-sgAnLQbuXc .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-sgAnLQbuXc .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-sgAnLQbuXc .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-sgAnLQbuXc button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-sgAnLQbuXc button.navbar-toggler:focus {
  outline: none;
}
.cid-sgAnLQbuXc button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-sgAnLQbuXc button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sgAnLQbuXc button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sgAnLQbuXc button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sgAnLQbuXc button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sgAnLQbuXc nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sgAnLQbuXc nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sgAnLQbuXc nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sgAnLQbuXc nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sgAnLQbuXc .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-sgAnLQbuXc .collapsed .btn {
  display: flex;
}
.cid-sgAnLQbuXc .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-sgAnLQbuXc .collapsed .navbar-collapse.collapsing,
.cid-sgAnLQbuXc .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-sgAnLQbuXc .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-sgAnLQbuXc .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-sgAnLQbuXc .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-sgAnLQbuXc .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-sgAnLQbuXc .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-sgAnLQbuXc .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-sgAnLQbuXc .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-sgAnLQbuXc .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-sgAnLQbuXc .collapsed button.navbar-toggler {
  display: block;
}
.cid-sgAnLQbuXc .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-sgAnLQbuXc .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sgAnLQbuXc .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-sgAnLQbuXc .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-sgAnLQbuXc .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-sgAnLQbuXc .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-sgAnLQbuXc .navbar-expand {
    flex-direction: column;
  }
  .cid-sgAnLQbuXc img {
    height: 3.8rem !important;
  }
  .cid-sgAnLQbuXc .btn {
    display: flex;
  }
  .cid-sgAnLQbuXc button.navbar-toggler {
    display: block;
  }
  .cid-sgAnLQbuXc .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-sgAnLQbuXc .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sgAnLQbuXc .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-sgAnLQbuXc .navbar-collapse.collapsing,
  .cid-sgAnLQbuXc .navbar-collapse.show {
    display: block !important;
  }
  .cid-sgAnLQbuXc .navbar-collapse.collapsing .navbar-nav,
  .cid-sgAnLQbuXc .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-sgAnLQbuXc .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-sgAnLQbuXc .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-sgAnLQbuXc .navbar-collapse.collapsing .navbar-buttons,
  .cid-sgAnLQbuXc .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-sgAnLQbuXc .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-sgAnLQbuXc .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-sgAnLQbuXc .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-sgAnLQbuXc .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-sgAnLQbuXc .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-sgAnLQbuXc .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-sgAnLQbuXc .menu-logo {
    flex-shrink: 0;
  }
}
.cid-sgAnM4VpU6 {
  padding-top: 200px !important;
  padding-bottom: 75px;
  background-image: url("../image/mbr-1920x1274.jpg");
}
.cid-sgAnM4VpU6 H1 {
  color: #ffffff;
}
.cid-sgAnM4VpU6 P {
  color: #ffffff;
}
.cid-sgAnMXdWp9 {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sgAnMXdWp9 .mbr-section-subtitle {
  color: #767676;
}
.cid-sgAnMXdWp9 H2 {
  color: #232323;
}
.cid-sgAnMXdWp9 .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.66);
}
.cid-shfu4TYbdA {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-shfu4TYbdA h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-shfu4TYbdA p {
  color: #767676;
  text-align: left;
}
.cid-shfu4TYbdA .card-box {
  padding-top: 2rem;
}
.cid-shfu4TYbdA .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-shfu4TYbdA .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-shfx55VEQv {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-shfx55VEQv h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-shfx55VEQv p {
  color: #767676;
  text-align: left;
}
.cid-shfx55VEQv .card-box {
  padding-top: 2rem;
}
.cid-shfx55VEQv .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-shfx55VEQv .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-shfu4466Ym {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-shfu4466Ym h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-shfu4466Ym p {
  color: #767676;
  text-align: left;
}
.cid-shfu4466Ym .card-box {
  padding-top: 2rem;
}
.cid-shfu4466Ym .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-shfu4466Ym .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnMw01ll {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnMw01ll h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnMw01ll p {
  color: #767676;
  text-align: left;
}
.cid-sgAnMw01ll .card-box {
  padding-top: 2rem;
}
.cid-sgAnMw01ll .card-title {
  text-align: center;
  color: #232323;
}
.cid-sgAnMw01ll .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnNjSLd4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnNjSLd4 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnNjSLd4 p {
  color: #767676;
  text-align: left;
}
.cid-sgAnNjSLd4 .card-box {
  padding-top: 2rem;
}
.cid-sgAnNjSLd4 .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnNjSLd4 .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnNyXdPA {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnNyXdPA h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnNyXdPA p {
  color: #767676;
  text-align: left;
}
.cid-sgAnNyXdPA .card-box {
  padding-top: 2rem;
}
.cid-sgAnNyXdPA .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnNyXdPA .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-shfrvcypu2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-shfrvcypu2 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-shfrvcypu2 p {
  color: #767676;
  text-align: left;
}
.cid-shfrvcypu2 .card-box {
  padding-top: 2rem;
}
.cid-shfrvcypu2 .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-shfrvcypu2 .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnNOGbbS {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnNOGbbS h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnNOGbbS p {
  color: #767676;
  text-align: left;
}
.cid-sgAnNOGbbS .card-box {
  padding-top: 2rem;
}
.cid-sgAnNOGbbS .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnNOGbbS .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnPe7Dln {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnPe7Dln h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnPe7Dln p {
  color: #767676;
  text-align: left;
}
.cid-sgAnPe7Dln .card-box {
  padding-top: 2rem;
}
.cid-sgAnPe7Dln .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnPe7Dln .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnPtP2gp {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnPtP2gp h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnPtP2gp p {
  color: #767676;
  text-align: left;
}
.cid-sgAnPtP2gp .card-box {
  padding-top: 2rem;
}
.cid-sgAnPtP2gp .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnPtP2gp .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnPGw6vu {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sgAnPGw6vu .mbr-section-subtitle {
  color: #767676;
}
.cid-sgAnPGw6vu H2 {
  color: #232323;
}
.cid-sgAnQ6vAKg {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnQ6vAKg h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnQ6vAKg p {
  color: #767676;
  text-align: left;
}
.cid-sgAnQ6vAKg .card-box {
  padding-top: 2rem;
}
.cid-sgAnQ6vAKg .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnQ6vAKg .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnQPDaPJ {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnQPDaPJ h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnQPDaPJ p {
  color: #767676;
  text-align: left;
}
.cid-sgAnQPDaPJ .card-box {
  padding-top: 2rem;
}
.cid-sgAnQPDaPJ .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnQPDaPJ .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnR9nNxw {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnR9nNxw h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnR9nNxw p {
  color: #767676;
  text-align: left;
}
.cid-sgAnR9nNxw .card-box {
  padding-top: 2rem;
}
.cid-sgAnR9nNxw .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnR9nNxw .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnRqQYHt {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnRqQYHt h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnRqQYHt p {
  color: #767676;
  text-align: left;
}
.cid-sgAnRqQYHt .card-box {
  padding-top: 2rem;
}
.cid-sgAnRqQYHt .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnRqQYHt .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnRJUy6U {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnRJUy6U h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnRJUy6U p {
  color: #767676;
  text-align: left;
}
.cid-sgAnRJUy6U .card-box {
  padding-top: 2rem;
}
.cid-sgAnRJUy6U .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnRJUy6U .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnS2JTTz {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnS2JTTz h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnS2JTTz p {
  color: #767676;
  text-align: left;
}
.cid-sgAnS2JTTz .card-box {
  padding-top: 2rem;
}
.cid-sgAnS2JTTz .card-title {
  color: #ffffff;
  text-align: center;
}
.cid-sgAnS2JTTz .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnSjIjf3 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sgAnSjIjf3 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnSjIjf3 p {
  color: #767676;
  text-align: left;
}
.cid-sgAnSjIjf3 .card-box {
  padding-top: 2rem;
}
.cid-sgAnSjIjf3 .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnSjIjf3 .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnSXlH1p {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sgAnSXlH1p h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sgAnSXlH1p p {
  color: #767676;
  text-align: left;
}
.cid-sgAnSXlH1p .card-box {
  padding-top: 2rem;
}
.cid-sgAnSXlH1p .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sgAnSXlH1p .card-img {
  -webkit-box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 7px 21px -7px rgba(0, 0, 0, 0.38);
}
.cid-sgAnTbr0f3 {
  background: #ffffff;
}
.cid-sgAnTbr0f3 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sgAnTbr0f3 .mbr-figure {
  margin: 0 auto;
}
.cid-sgAnTbr0f3 figcaption {
  position: relative;
}
.cid-sgAnTbr0f3 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sgAnTbr0f3 .image-block {
    width: 100% !important;
  }
}
.cid-sgAnTHm068 {
  background-image: url("../image/mbr-1920x1078.jpg");
}
.cid-sgAnTHm068 .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sgAnTHm068 .mbr-section-title,
.cid-sgAnTHm068 .mbr-section-btn {
  color: #232323;
}
.cid-sgAnTHm068 H3 {
  color: #232323;
}
.cid-sgAnTHm068 P {
  color: #232323;
}
.cid-sgAnTHm068 .mbr-section-title,
.cid-sgAnTHm068 .mbr-section-btn B {
  color: #232323;
}
.cid-sgAnU3lhjA {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sgAnU3lhjA .mbr-text {
  color: #767676;
}
.cid-sgAnU3lhjA h4 {
  text-align: center;
}
.cid-sgAnU3lhjA p {
  text-align: center;
}
.cid-sgAnU3lhjA .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-sgAnUmZFXE {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #ffe9e9, #ffffff);
}
@media (min-width: 992px) {
  .cid-sgAnUmZFXE .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sgAnUmZFXE .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-sgAnUmZFXE .mbr-section-title {
  color: #232323;
}
.cid-sgAnUmZFXE .mbr-text,
.cid-sgAnUmZFXE .mbr-section-btn {
  color: #232323;
}
.cid-sgAnULczG7 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../image/mbr-1920x1285.jpg");
}
.cid-shfBlJ0YgI {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-shfBlJ0YgI .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-shfBlJ0YgI .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-shfBlJ0YgI .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-shfBlJ0YgI .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-shfBlJ0YgI .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-shfBlJ0YgI .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-shfBlJ0YgI .carousel-control,
.cid-shfBlJ0YgI .close {
  background: #1b1b1b;
}
.cid-shfBlJ0YgI .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-shfBlJ0YgI .carousel-control-prev span {
  margin-right: 5px;
}
.cid-shfBlJ0YgI .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-shfBlJ0YgI .carousel-control-next span {
  margin-left: 5px;
}
.cid-shfBlJ0YgI .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-shfBlJ0YgI .close::before {
  content: '\e91a';
}
.cid-shfBlJ0YgI .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-shfBlJ0YgI .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-shfBlJ0YgI .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-shfBlJ0YgI .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-shfBlJ0YgI .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-shfBlJ0YgI .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-shfBlJ0YgI .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-shfBlJ0YgI .carousel-indicators li.active,
.cid-shfBlJ0YgI .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-shfBlJ0YgI .carousel-indicators li::after,
.cid-shfBlJ0YgI .carousel-indicators li::before {
  content: none;
}
.cid-shfBlJ0YgI .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-shfBlJ0YgI .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-shfBlJ0YgI .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-shfBlJ0YgI .carousel-indicators {
    display: none;
  }
}
.cid-shfBlJ0YgI .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-shfBlJ0YgI .carousel-inner > .active {
  display: block;
}
.cid-shfBlJ0YgI .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-shfBlJ0YgI .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-shfBlJ0YgI .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-shfBlJ0YgI .carousel-control,
  .cid-shfBlJ0YgI .carousel-indicators,
  .cid-shfBlJ0YgI .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-shfBlJ0YgI .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-shfBlJ0YgI .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-shfBlJ0YgI .carousel-indicators .active,
.cid-shfBlJ0YgI .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-shfBlJ0YgI .carousel-indicators .active {
  background: #fff;
}
.cid-shfBlJ0YgI .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-shfBlJ0YgI .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-shfBlJ0YgI .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-shfBlJ0YgI .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-shfBlJ0YgI .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-shfBlJ0YgI .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-shfBlJ0YgI .carousel {
  width: 100%;
}
.cid-shfBlJ0YgI .modal-backdrop.in {
  opacity: 0.8;
}
.cid-shfBlJ0YgI .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-shfBlJ0YgI .modal.fade .modal-dialog,
.cid-shfBlJ0YgI .modal.in .modal-dialog {
  transform: none;
}
.cid-shfBlJ0YgI .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-shfBlJ0YgI H6 {
  text-align: center;
}
.cid-shfBlJ0YgI .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cid-shfBlJ0YgI .mt-4 {
  margin-top: 0 !important;
}
.cid-sgAnVSoLdo {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sgAnVSoLdo .mbr-section-subtitle {
  color: #767676;
}
.cid-sgAnVSoLdo .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sgAnVSoLdo .mbr-text {
  color: #232323;
}
.cid-sgAnVSoLdo .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-sgAnVSoLdo .mbr-author-name {
  color: #000000;
}
.cid-sgAnVSoLdo .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-sgAnVSoLdo .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-sgAnVSoLdo .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-sgAnVSoLdo .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-sgAnVSoLdo .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-sgAnVSoLdo .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-sgAnW8Eaud {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #bed3f9, #8caff0);
}
.cid-sgAnW8Eaud .mbr-text,
.cid-sgAnW8Eaud .mbr-section-btn {
  text-align: center;
  color: #232323;
}
.cid-sgAnW8Eaud H1 {
  color: #232323;
}
.cid-sgAnYmE2Jr {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sgAnYmE2Jr .mbr-section-subtitle {
  color: #767676;
}
.cid-sgAnYmE2Jr H2 {
  color: #ffffff;
}
.cid-sgAnWNF7M3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #232323;
  background: linear-gradient(0deg, #232323, #232323);
}
.cid-sgAnWNF7M3 .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-sgAnWNF7M3 .video-block {
    width: 100% !important;
  }
}
.cid-sgAnXENzBo {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
